* {
    margin: 0;
    padding: 0;
}

.icon:before {
    content: "";
    display: block;
    content: url("_twitter_logo_.png");
    width: 100px;
    height: 20px;
    float: left;
    margin-right: 1px;
}

a {
    color: black;
    font-size: 22px;
    text-decoration: none;
}
